{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
				<div class="col-md-4">
				</div>
                <div class="col-md-4">
                 <div class="example-wrapper">
					<h1>Ajout Entreprise</h1>
					{{ form_start(vueFormulaireEntreprise, {'attr': {'novalidate' : 'novalidate'}}) }}
					{{ form_row(vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}})}}
					{{ form_row(vueFormulaireEntreprise.adresse, {'attr':{'placeholder':"Adresse de l'entreprise ..."}})}}
					{{ form_row(vueFormulaireEntreprise.activite, {'attr':{'placeholder':"Activite de l'entreprise ..."}})}}
					{{ form_row(vueFormulaireEntreprise.site, {'attr':{'placeholder':"Site de l'entreprise..."}})}}
					<button type="submit" class="btn btn-dark">Enregistrer</button>
					<br>
					{{ form_end(vueFormulaireEntreprise) }}
				</div
				</div>
				<div class="col-md-4">
				</div>
			</div>

{% endblock %}
