{% extends 'base.html.twig' %}


{% block body %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!-- Titres des colonnes -->
      <th scope="col">Nom</th>
      <th scope="col">Activite</th>
      <th scope="col">Adresse</th>
      <th scope="col">Site</th>
    </tr>
  </thead>
  <tbody>
    <!-- Boucle pour afficher le détail de toutes les entreprises -->
    {% for entreprise in entreprises %}
    <tr>
      <!-- Contenu des colonnes -->
      <td><a href="{{path('prostages_stagesParEntreprise', {nomEntreprise:entreprise.nom})}}"> {{entreprise.nom}} </a></td>
      <td>{{entreprise.activite}}</td>
      <td>{{entreprise.adresse}}</td>
      <td><a href="{{entreprise.site}}">{{entreprise.site}}</a></td>
      {% if is_granted("ROLE_ADMIN") %}
      <td><a href="{{path('prostages_modify_entreprise', {id:entreprise.id})}}">Modifier</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
