{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
				<div class="col-md-4">
				</div>
                <div class="col-md-4">
                 <div class="example-wrapper">
					<h1>Ajout Entreprise</h1>
					{{ form_start(vueFormulaireEntrepriseModif, {'attr': {'novalidate' : 'novalidate'}}) }}
					{{ form_row(vueFormulaireEntrepriseModif.nom)}}
					{{ form_row(vueFormulaireEntrepriseModif.adresse)}}
					{{ form_row(vueFormulaireEntrepriseModif.activite)}}
					{{ form_row(vueFormulaireEntrepriseModif.site)}}
					<button type="submit" class="btn btn-dark">Enregistrer</button>
					<br>
					{{ form_end(vueFormulaireEntrepriseModif) }}
				</div
				</div>
				<div class="col-md-4">
				</div>
			</div>

{% endblock %}
